# ignorar entorno virtual
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/Lib/
.venv/Scripts/
.venv/pyvenv.cfg
.venv/*

# ignorar archivos de configuración
__pycache__/
*.py[cod]
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class