body {
	padding: 1%;
	background-color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo {
	display: inline;
}

header {
	text-align: center;
	width: 80%;
}

.num-pedido {
	width: 20%;
}

.contenido {
	display: flex;
}

.fechas {
	width: 30%;
	margin-right: 1%;
}

#num-pedido {
	background-color: #ffcdb2;
}

.Formulario {
	width: 70%;
	text-align: left;
}

.form-group {
	display: inline;
	margin: 1%;
}

input {
	height: 30px;
}

/* estilos de la tabla */
.tabla {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 1em;
	font-family: sans-serif;
	min-width: 450px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* configura las celdas de encabezado */
.tabla thead tr {
	background-color: #6d6875;
	color: #ffffff;
	text-align: middle;
}

/* configura el resto de celdas */
.tabla th,
.tabla td {
	padding: 12px 15px;
}

/* configura las filas */
.tabla tbody tr {
	border-bottom: 1px solid #dddddd;
}
.tabla tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.scroll-auto {
	-webkit-overflow-scrolling: auto;
	-moz-overflow-scrolling: auto;
	-o-overflow-scrolling: auto;
	-ms-overflow-scrolling: auto;
}

.titulos {
	background-color: gray;
	text-align: center;
}

.totales {
	margin: 0.5% 1%;
	float: right;
}
