{% extends "base.html" %} {% block title %}<title>Consultar cliente</title>
{% endblock %} {% block body %}
<form action="consultarCliente" method="post">
	<div class="contenido">
		<div class="titulo">
			<header>
				<h1>Consultar Cliente</h1>
			</header>
		</div>
		<div class="Formulario">
			<select
				class="form-group center"
				name="tipo_identificacion"
				id="tipo_ident"
			>
				<option selected value="">Tipo identificación</option>
				{% for i in tipoID %}
				<option value="{{ i.id }}">{{ i.codigo.name }}</option>
				{% endfor %}
			</select>
			<input
				type="text"
				class="info center"
				name="numero_identificacion"
				id="num_identificacion"
				placeholder="Número de identificacion"
			/>
		</div>
		<button class="btn-center" type="submit">Consultar</button>
	</div>
</form>
<table id="resultTable">
	<thead>
		<tr>
			<th>N°</th>
			<th>Tipo Identificación</th>
			<th>N° Identificación</th>
			<th>Razón Social</th>
			<th>Dirección</th>
			<th>Correo</th>
			<th>Telefono</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
	</thead>
	<tbody>
		{% for c in cliente %}
		<tr>
			<td>{{ c.id }}</td>
			<td>{{ c.tipo_identificacion.codigo.name }}</td>
			<td>{{ c.numero_identificacion }}</td>
			<td>{{ c.nombre }}</td>
			<td>{{ c.direccion }}</td>
			<td>{{ c.correo }}</td>
			<td>{{ c.telefono }}</td>
			<td>
				<a href="{{ url_for('actualizarCliente', id=c.id) }}">Editar</a>
			</td>
			<td>
				<a href="{{ url_for('eliminarCliente', id=c.id) }}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<script>
	$(document).ready(function () {
		$("form").submit(function () {
			$("#resultTable").show();
		});
	});
</script>
{% endblock %}
