{% extends "base.html" %} {% block title %}<title>Crear cliente</title>
{% endblock %} {% block body %}
<h1>Crear Cliente</h1>
<section>
	<form action="crearCliente" method="post">
		<div class="contenido">
			<div class="Formulario">
				<label for="tipo_ident">Tipo Identificación</label>
				<select name="tipo_identificacion" id="tipo_ident">
					<option selected value="">Seleccionar</option>
					{% for i in identificacion%}
					<option value="{{ i.id }}">{{ i.codigo.name }}</option>
					{% endfor %}
				</select>
				<label class="form-group">Número Identificación</label>
				<input
					type="text"
					class="info"
					name="num_identificacion"
					id="num_identificacion"
					placeholder="Another input"
				/>
				<br />
				<label for="tipo-persona">Tipo persona </label>
				<select name="tipo_persona" id="tipo-persona">
					<option selected value="">Seleccionar</option>
					{% for tp in tipoPersona %}
					<option value="{{ tp.id }}">{{ tp.tipo_persona.name }}</option>
					{% endfor %}
				</select>
				<br />
				<label class="form-group">Nombre o Razón Social</label>
				<input
					type="text"
					class="info nombres"
					name="nombre"
					id="razon-social"
					placeholder="Example input"
				/>
				<br />
				<label class="form-group">Dirección</label>
				<input
					type="text"
					class="info"
					name="direccion"
					id="direccion"
					placeholder="Another input"
				/>
				<label class="form-group">Ciudad</label>
				<input
					type="text"
					class="info"
					name="ciudad"
					id="ciudad"
					placeholder="Another input"
				/>
				<br />
				<label class="form-group">Telefono</label>
				<input
					type="text"
					class="info"
					name="telefono"
					id="telefono"
					placeholder="Example input"
				/>
				<br />
				<label class="form-group">Correo Electronico</label>
				<input
					type="email"
					class="info"
					name="correo"
					id="correo"
					placeholder="Another input"
				/>
				<br />
			</div>
			<div class="fechas">
				<label class="form-group" for="fechaRecibido"
					>Fecha documento:</label
				>
				<input
					type="date"
					class="info"
					name="fecha-recibido"
					id="fechaRecibido"
					name="fechaRecibido"
				/><br />
			</div>
		</div>
		<button type="submit">Crear</button>
	</form>
	<h2>Clientes</h2>
	<table>
		<thead>
			<tr>
				<th>N°</th>
				<th>Tipo Identificación</th>
				<th>No. Identificación</th>
				<th>Nombre o Razón Social</th>
				<th>Dirección</th>
				<th>Ciudad</th>
				<th>Telefono</th>
				<th>Correo Electronico</th>
			</tr>
		</thead>
		<tbody>
			{% for c in clientes %}
			<tr>
				<td>{{ c.id }}</td>
				<td>{{ c.tipo_identificacion_id.name }}</td>
				<td>{{ c.num_identificacion }}</td>
				<td>{{ c.nombre }}</td>
				<td>{{ c.direccion }}</td>
				<td>{{ c.ciudad }}</td>
				<td>{{ c.telefono }}</td>
				<td>{{ c.correo }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
