<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="Formulario crear pedido" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles/estilos_form.css') }}"
		/>
	</head>
	<body>
		<header>
			<h1>Crear Pedido</h1>
		</header>
		<div class="contenido">
			<div class="Formulario">
				<form action="" method="post">
					<label class="form-group">Nombre o Razón Social</label>
					<input
						type="text"
						class="info"
						id="cliente"
						placeholder="Example input"
					/>
					<br />
					<label class="form-group">Dirección</label>
					<input
						type="text"
						class="info"
						id="direccion"
						placeholder="Another input"
					/>
					<br />
					<label for="lang">Tipo Identificación</label>
					<select name="lenguajes" id="lang">
						<option value="javascript">CC</option>
						<option value="php">TI</option>
						<option value="java">NIT</option>
						<option value="java">CE</option>
						<option value="java">PAS</option>
					</select>
					<label class="form-group">Número Identificación</label>
					<input
						type="text"
						class="info"
						id="num-identificacion"
						placeholder="0000000000"
					/>
					<br />
					<label class="form-group">Telefono</label>
					<input
						type="text"
						class="info"
						id="telefono"
						placeholder="+57 000 000 0000"
					/>
					<br />
					<label class="form-group">Correo Electronico</label>
					<input
						type="email"
						class="info"
						id="correo"
						placeholder="ejemplo@ej.co"
					/>
					<br />
					<label class="form-group">Ciudad</label>
					<input
						type="text"
						class="info"
						id="ciudad"
						placeholder="Another input"
					/>
				</form>
			</div>
			<div class="fechas">
				<label class="form-group" for="num-pedido">No. Pedido</label>
				<input type="text" class="info" id="num-pedido" name="num-pedido" />
				<br /><br />
				<form action="" method="post">
					<label class="form-group" for="estados">Estado Pedido</label>
					<select name="estado-pedido" id="estado-pedido">
						<option value="patronaje">Patronaje</option>
						<option value="diseño">Diseño</option>
						<option value="corte">Corte</option>
						<option value="confeccion">Confección</option>
						<option value="cerrado">Entregado</option>
					</select>
					<br /><br />
					<label class="form-group" for="fechaPedido"
						>Fecha del pedido:</label
					>
					<input
						type="date"
						class="info"
						id="fechaPedido"
						name="fechaPedido"
					/><br /><br />
					<label class="form-group" for="fechaRecibido"
						>Fecha del documento:</label
					>
					<input
						type="date"
						class="info"
						id="fechaRecibido"
						name="fechaRecibido"
					/><br /><br />
					<label class="form-group" for="fechaDespacho"
						>Fecha de despacho:</label
					>
					<input type="date" id="fechaDespacho" name="fechaDespacho" />
				</form>
			</div>
		</div>
		<h2>Tabla de Pedidos</h2>
		<table class="tabla scroll-auto">
			<tr>
				<thead class="titulos">
					<th>#</th>
					<th>Cod Artículo</th>
					<th>Descripción</th>
					<th>Cantidad en metros</th>
					<th>Cantidad prendas</th>
					<th>Valor Unitario</th>
					<th>Total</th>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td><input type="text" value="" /></td>
						<td><input type="text" value="" /></td>
						<td><input type="number" value="0" /></td>
						<td><input type="number" value="0" /></td>
						<td><input type="number" value="$ 0.0" /></td>
						<td id="total"></td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td><input type="text" value="" /></td>
						<td><input type="text" value="" /></td>
						<td><input type="number" value="0" /></td>
						<td><input type="number" value="0" /></td>
						<td><input type="number" value="$ 0.0" /></td>
						<td id="total"></td>
					</tr>
				</tbody>
			</tr>
		</table>
		<table class="totales">
			<thead>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<th>IVA</th>
					<td>$ 0.0</td>
				</tr>
				<tr>
					<th>Descuentos</th>
					<td>$ 0.0</td>
				</tr>
				<tr>
					<th>Subtotal</th>
					<td>$ 0.0</td>
				</tr>
				<tr>
					<th>Anticipo</th>
					<td>$ 0.0</td>
				</tr>
				<tr>
					<th>Total</th>
					<td>$ 0.0</td>
				</tr>
			</tbody>
		</table>
		<table>
			<tr>
				<td>
					<div class="form-group">
						<label class="form-group">Observaciones</label>
						<textarea
							class="info"
							id="formGroupExampleInput"
							placeholder="Example input"
						></textarea>
					</div>
				</td>
			</tr>
		</table>

		<input type="submit" value="Enviar" class="Formulario" />
		<input type="submit" value="Cancelar" class="Formulario" />
	</body>
</html>
