<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="Formulario crear pedido" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles/estilos_form.css') }}"
		/>
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	</head>
	<body>
		<form action="crearPedido" method="post">
			<div class="contenedor-info">
				<div class="titulo">
					<header>
						<h1>Crear Pedido</h1>
					</header>
				</div>
				<div class="id-pedido">
					<label class="num-pedido" for="num-pedido">No. Pedido</label>
					<input
						type="text"
						class="num-pedido"
						id="num-pedido"
						name="num_pedido"
						value="{{ nuevo_numero_pedido }}"
						readonly
					/>
				</div>
			</div>
			<div class="contenido">
				<div class="Formulario">
					<label class="form-group" for="num-identificacion"
						>Número Identificación</label
					>
					<select name="num_identificacion" id="num-identificacion">
						<option value="">Seleccionar</option>
						{% for cliente in clientes %}
						<option value="{{cliente.id}}">
							{{cliente.numero_identificacion}}
						</option>
						{% endfor %}
					</select>
					<br />
					<label class="form-group">Nombre o Razón Social</label>
					<input
						type="text"
						class="info nombres"
						name="nombre"
						id="razon-social"
						disabled
					/>
					<br />
					<label class="form-group">Dirección</label>
					<input
						type="text"
						class="info"
						name="direccion"
						id="direccion"
						disabled
					/>
					<label class="form-group">Ciudad</label>
					<input
						type="text"
						class="info"
						name="ciudad"
						id="ciudad"
						disabled
					/>
					<br />
					<label class="form-group">Telefono</label>
					<input
						type="text"
						class="info"
						name="telefono"
						id="telefono"
						disabled
					/>
					<br />
					<label class="form-group">Correo Electronico</label>
					<input
						type="email"
						class="info"
						name="correo"
						id="correo"
						disabled
					/>
					<br />
				</div>
				<div class="fechas">
					<label for="nombre">Estado pedido</label>
					<select name="estados" id="estado_pedido">
						{% for ep in enum_estadoPeValue %}
						<option value="{{ep.value}}">{{ep.name}}</option>
						{% endfor %}
					</select>
					<br /><br />
					<label class="form-group" for="fechaPedido">Fecha pedido:</label>
					<input
						type="date"
						class="info"
						name="fecha-pedido"
						id="fechaPedido"
						name="fechaPedido"
					/><br /><br />
					<label class="form-group" for="fechaRecibido"
						>Fecha documento:</label
					>
					<input
						type="datetime"
						class="info"
						name="fecha-recibido"
						id="fechaRecibido"
						name="fechaRecibido"
						value="{{fecha}}"
						readonly
					/><br /><br />
					<label class="form-group" for="fechaDespacho"
						>Fecha despacho:</label
					>
					<input type="date" id="fechaDespacho" name="fecha-despacho" />
					<br /><br />
					<label for="tipo_pedido">Tipo pedido:</label>
					<select name="tipos" id="tipo_pedido">
						{% for tp in enum_tipoPeValue %}
						<option value="{{ tp.value }}">{{ tp.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div>
				<h2>Tabla de Pedidos</h2>
				<table class="tabla scroll-auto" id="tabla_pedidos">
					<tr>
						<thead class="titulos">
							<th>#</th>
							<th>Tipo prenda</th>
							<th>Prenda</th>
							<th>Material</th>
							<th>Cantidad</th>
							<th>Medidas</th>
						</thead>
						<tbody>
							<tr class="pedido-detalle">
								<th scope="row">1</th>
								<td>
									<select name="detalles[0][tipo_prenda]" required>
										{% for tipo in enum_values %}
										<option value="{{ tipo.value }}">
											{{ tipo.name }}
										</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<select name="detalles[0][prenda]" required>
										{% for prenda in prendas %}
										<option value="{{ prenda.id }}">
											{{ prenda.descripcion }}
										</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<input
										type="text"
										name="detalles[0][material]"
										required
									/>
								</td>
								<td>
									<input
										type="number"
										name="detalles[0][cantidad]"
										required
									/>
								</td>
								<td><input type="button" value="Agregar Medidas" /></td>
							</tr>
						</tbody>
					</tr>
				</table>				
			</div>
			<input type="submit" value="Enviar" class="Formulario" />
			<!-- <input type="submit" value="Cancelar" class="Formulario" /> -->
			<script>
				$("#num-identificacion").change(function () {
					var value = $(this).val();
					if (value) {
						$.ajax({
							url: "/cliente/" + value,
							type: "GET",
							dataType: "json",
							success: function (data) {
								if (!data.error) {
									$("#razon-social").val(data.nombre);
									$("#direccion").val(data.direccion);
									$("#ciudad").val(data.ciudad);
									$("#telefono").val(data.telefono);
									$("#correo").val(data.correo);
								} else {
									alert(data.error);
								}
							},
							error: function (error) {
								console.error("Error en la solicitud: ", error);
							},
						});
					} else {
						$("#razon-social").val("");
						$("#direccion").val("");
						$("#ciudad").val("");
						$("#telefono").val("");
						$("#correo").val("");
					}
				});

				$(document).ready(function () {
					let counter = 1;

					function addNewRow() {
						let newRow = `
							<tr class="pedido-detalle">
								<th scope="row">${counter + 1}</th>
								<td>
									<select name="detalles[${counter}][tipo_prenda]" required>
										{% for tipo in enum_values %}
										<option value="{{ tipo.value }}">{{ tipo.name }}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<select name="detalles[${counter}][prenda]" required>
										{% for prenda in prendas %}
										<option value="{{ prenda.id }}">{{ prenda.descripcion }}</option>
										{% endfor %}
									</select>
								</td>
								<td><input type="text" name="detalles[${counter}][material]" required /></td>
								<td><input type="number" name="detalles[${counter}][cantidad]" class="cantidad-input" required /></td>
								<td><input type="button" value="Agregar Medidas" /></td>
							</tr>
						`;
						$("#tabla_pedidos tbody").append(newRow);
						counter++;
					}

					$("#addRowBtn").click(function () {
						addNewRow();
					});

					$("#tabla_pedidos").on(
						"keypress",
						".cantidad-input",
						function (e) {
							if (e.which === 13) {
								// Enter key
								e.preventDefault();
								addNewRow();
							}
						}
					);
				});
			</script>
		</form>
	</body>
</html>
