<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="Formulario crear pedido" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles/estilos_form.css') }}"
		/>
	</head>
	<body>
		<form action="crearPedido" method="post">
			<div class="contenedor-info">
				<div class="titulo">
					<header>
						<h1>Crear Pedido</h1>
					</header>
				</div>
				<div class="id-pedido">
					<label class="num-pedido" for="num-pedido">No. Pedido</label>
					<input
						type="text"
						class="num-pedido"
						id="num-pedido"
						name="num-pedido"
					/>
				</div>
			</div>
			<div class="contenido">
				<div class="Formulario">
					<label for="lang">Tipo Identificación</label>
					<select name="tipo_identificacion" id="tipo_identificacion">
						{% for i in enum_idValue %}
						<option value="{{ i.value }}">{{ i.name }}</option>
						{% endfor %}
					</select>
					<label class="form-group">Número Identificación</label>
					<input
						type="text"
						class="info"
						name="num_identificacion"
						id="num_identificacion"
						placeholder="Another input"
					/>
					<br />
					<label class="form-group">Nombre o Razón Social</label>
					<input
						type="text"
						class="info nombres"
						name="nombre"
						id="razon-social"
						placeholder="Example input"
					/>
					<br />
					<label class="form-group">Dirección</label>
					<input
						type="text"
						class="info"
						name="direccion"
						id="direccion"
						placeholder="Another input"
					/>
					<label class="form-group">Ciudad</label>
					<input
						type="text"
						class="info"
						name="ciudad"
						id="ciudad"
						placeholder="Another input"
					/>
					<br />
					<label class="form-group">Telefono</label>
					<input
						type="text"
						class="info"
						name="telefono"
						id="telefono"
						placeholder="Example input"
					/>
					<br />
					<label class="form-group">Correo Electronico</label>
					<input
						type="email"
						class="info"
						name="correo"
						id="correo"
						placeholder="Another input"
					/>
					<br />
				</div>
				<div class="fechas">
					<label for="nombre">Estado pedido</label>
					<select name="estados" id="estado_pedido">
						{% for ep in enum_estadoPeValue %}
						<option value="{{ep.value}}">{{ep.name}}</option>
						{% endfor %}
					</select>
					<br /><br />
					<label class="form-group" for="fechaPedido">Fecha pedido:</label>
					<input
						type="date"
						class="info"
						name="fecha-pedido"
						id="fechaPedido"
						name="fechaPedido"
					/><br /><br />
					<label class="form-group" for="fechaRecibido"
						>Fecha documento:</label
					>
					<input
						type="datetime"
						class="info"
						name="fecha-recibido"
						id="fechaRecibido"
						name="fechaRecibido"
					/><br /><br />
					<label class="form-group" for="fechaDespacho"
						>Fecha despacho:</label
					>
					<input type="date" id="fechaDespacho" name="fecha-despacho" />
					<br /><br />
					<label for="tipo_pedido">Tipo pedido:</label>
					<select name="tipos" id="tipo_pedido">
						{% for tp in enum_tipoPeValue %}
						<option value="{{ tp.value }}">{{ tp.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div>
				<h2>Tabla de Pedidos</h2>
				<table class="tabla scroll-auto">
					<tr>
						<thead class="titulos">
							<th>#</th>
							<th>Tipo prenda</th>
							<th>Prenda</th>
							<th>Material</th>
							<th>Cantidad</th>
							<th>Medidas</th>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>
									<select id="tipo_prenda" name="tipo_prenda" required>
										{% for tipo in enum_values %}
										<option
											name="tipo_prenda_id"
											value="{{ tipo.value }}"
										>
											{{ tipo.name }}
										</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<input type="text" value="" name="nombre-prenda" />
								</td>
								<td><input type="text" value="" name="material" /></td>
								<td>
									<input type="number" value="0" name="cantidad" />
								</td>
								<td>
									<input
										type="button"
										href="#"
										value="Agregar Medidas"
										name="medidas"
									/>
								</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>
									<select
										id="tipo_prenda_id"
										name="tipo_prenda_id"
										required
									>
										{% for tipo in enum_values %}
										<option value="{{ tipo.value }}">
											{{ tipo.name }}
										</option>
										{% endfor %}
									</select>
								</td>
								<td><input type="text" value="" name="prenda_id" /></td>
								<td><input type="text" value="" name="material" /></td>
								<td>
									<input type="number" value="0" name="cantidad" />
								</td>
								<td>
									<input
										type="button"
										href="#"
										value="Agregar Medidas"
										name="medidas"
									/>
								</td>
							</tr>
						</tbody>
					</tr>
				</table>
				<div class="form-group">
					<label>Observaciones</label>
					<textarea
						form="crearPedido"
						class="info"
						id="formGroupExampleInput"
						placeholder="Example input"
					></textarea>
				</div>
			</div>
			<input type="submit" value="Enviar" class="Formulario" />
			<!-- <input type="submit" value="Cancelar" class="Formulario" /> -->
		</form>
	</body>
</html>
