<label class="form-group" for="fechaPedido"> Fecha pedido:</label>
<input
	type="date"
	class="info"
	name="fecha-pedido"
	id="fechaPedido"
	name="fechaPedido"
/><br /><br />
<label class="form-group" for="fechaRecibido" aria-autocomplete="both"
	>Fecha documento:</label
>
<input
	type="datetime-local"
	class="info"
	name="fecha-recibido"
	id="fechaRecibido"
	name="fechaRecibido"
/><br /><br />
<label class="form-group" for="fechaDespacho">Fecha despacho:</label>
<input type="date" id="fechaDespacho" name="fecha-despacho" />
<br /><br />
