<!DOCTYPE html>

{% extends "barraNavegacion.html"%} {% block page_content %}
<section id="login-section">
	<form action="/login" method="post">
		<div class="container text-center">
			<div class="box-txt">
				<h1>INICIAR SESIÓN</h1>
			</div>
			<input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
			{% with messages = get_flashed_messages() %} {% if messages %}
			<br />
			{% for message in messages %}
			<div class="alert alert-primary alert-dismissible" role="alert">
				<strong> {{ message }} </strong>
				<button
					type="button"
					class="btn-close"
					data-bs-dismissible="alert"
					aria-label="close"
				></button>
			</div>
			{% endfor %} {% endif %} {% endwith %}
			<label for="usuario">Usuario</label><br />
			<input type="text" id="usuario" name="usuario" /><br />
			<label for="password">Contraseña</label><br />
			<input type="password" id="password" name="password" /><br />
			<div id="emailHelp" class="form-text">
				<span class="text-warning"
					><small> Olvide mi contraseña.</small>
				</span>
			</div>
			<!--<div id="iniciar">
                        <input type="submit" value="Iniciar sesión"><br/>
                        <p class="form-link">¿Aún no tienes una cuenta? <a href="registrar.php">Regístrate aquí</a></p><br/>
                        <p class="form-link"><a href="recuperar_contrasena.php">He olvidado mi contraseña</a></p><br/><hr/><br/>
                        <p class="form-link"><img src="imagenes/entrar.jpg" height="10px" width="10px" alt="invitado"/>&nbsp;<a href="reservar.php">Entrar como invitado</a></p>
                    </div>
					<input type="submit" value="Ingresar" />-->
			<a href="{{ url_for('mainPage') }}">
				<input type="submit" value="Ingresar" />
			</a>
		</div>
	</form>
</section>

{% endblock %}
