{% extends "prueba.html" %} {% block form %}
<form action="ingresoMaterial" method="post">
	{% block header %}
	<div class="contenedor-info">
		<div class="titulo">
			<header>
				<h1>Crear Material</h1>
			</header>
		</div>
		<!-- cambiar name y en css -->
		<div class="id-pedido">
			<!-- aqui va el nombre del usuario que esta creando el material -->
			<p>Nombre usuario</p>
		</div>
	</div>
	{% endblock %} {% block datos %}
	<div class="contenido">
		<div class="Formulario">
			<label for="codigo-material">Código</label>
			<input type="text" name="codigo_material" id="codigo-material" /><br />

			<label for="lot-number">No. Lote</label>
			<input type="text" name="num_lote" id="lot-number" /><br />

			<label for="product">Producto:</label>
			<input type="text" name="producto" id="product" /><br />

			<label for="amount">Cantidad</label>
			<input type="number" name="amount" id="amount" /><br />

			<label for="supplier">Proveedor</label>
			<input type="text" name="proveedor" id="supplier" /><br />

			<label for="color">Color</label>
			<input type="text" name="color" id="color" /><br />

			<label for="estado-material">Estado material</label>
			<select name="estado_material" id="estado-material">
				<option selected value="">Seleccionar</option>
				{% for estado in enum_estadoMaterial %}
				<option value="{{estado.value}}">{{estado.name}}</option>
				{% endfor %}
			</select>
			<br />

			<textarea
				name="description"
				id="description"
				cols="30"
				rows="10"
				placeholder="Descripción"
			></textarea>
		</div>
		<div class="fechas">{% include "fechas.html" %}</div>
	</div>
	{% endblock %}
	<button type="submit">Crear Material</button>
</form>
{% endblock %}
