<!DOCTYPE html>
<html lang="es">

<head>
  <img class='Imagen' src="Imagenes/Proceso_Textil.png" width="200" height="200" />
</head>

<link rel="stylesheet" href="estilo.css">

<body>
  <form>
    <br>
    <br>
    <br>
    <div class="form-group" align='center'>
      <label for="exampleInputEmail1">Usuario</label><br>
      <input type="Correo Electronico" align='center' id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Ingrese Su Usuario">
    </div>
    <div class="form-group" align='center'>
      <label for="exampleInputPassword1">Contrasena</label><br>
      <input type="password" id="exampleInputPassword1" placeholder=" Ingrese Contrasena"><br>
      <br><small id="RecuperarContraseña" class="form-text text-muted">Olvido Su Contraseña.</small><br>
    </div>
    <div class="form-check" align='center'>
      <input type="checkbox" align='center' id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Autorizacion de tratamientos de datos</label><br>
      <br>
    </div>
    <a href="Index.html"><input type="button" value="ingresar" class="Formulario"></a>
  </form>
</body>

</html>