<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="Formulario_crear_pedido" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles/estilos_form.css') }}"
		/>
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	</head>
	<body>
		<form
			action="{{url_for('modificarPedidoId', id=pedidos.id)}}"
			method="post"
		>
			<div class="contenedor-info">
				<div class="titulo">
					<header>
						<h1>Modificar Pedido</h1>
					</header>
				</div>
				<div class="id-pedido">
					<label class="num-pedido" for="num-pedido">No. Pedido</label>
					<input
						type="text"
						class="num-pedido"
						id="num-pedido"
						name="num_pedido"
						value="{{ pedidos.numero_pedido }}"
						readonly
					/>
				</div>
			</div>
			<div class="contenido">
				<div class="Formulario">
					<label class="form-group" for="num-identificacion"
						>Número Identificación</label
					>
					<input
						type="text"
						class="num_identificacion"
						name="num_identificacion"
						id="num-identificacion"
						value="{{ pedidos.clientes.numero_identificacion }}"
						readonly
					/>
					<br />

					<label class="form-group">Nombre o Razón Social</label>
					<input
						type="text"
						class="info nombres"
						name="nombre"
						id="razon-social"
						value="{{ pedidos.clientes.nombre }}"
						requiered
					/>
					<br />
					<label class="form-group">Dirección</label>
					<input
						type="text"
						class="info"
						name="direccion"
						id="direccion"
						value="{{ pedidos.clientes.direccion }}"
						requiered
					/>
					<label class="form-group">Ciudad</label>
					<input
						type="text"
						class="info"
						name="ciudad"
						id="ciudad"
						value="{{ pedidos.clientes.ciudad }}"
						requiered
					/>
					<br />
					<label class="form-group">Telefono</label>
					<input
						type="text"
						class="info"
						name="telefono"
						id="telefono"
						value="{{ pedidos.clientes.telefono }}"
						requiered
					/>
					<br />
					<label class="form-group">Correo Electronico</label>
					<input
						type="email"
						class="info"
						name="correo"
						id="correo"
						value="{{ pedidos.clientes.correo }}"
						requiered
					/>
					<br />
				</div>
				<div class="fechas">
					<label for="nombre">Estado pedido</label>					
					<select name="estados" id="estado_pedido" required>
						{% for ep in enum_estadoPeValue %}
						<option value="{{ ep.id }}"{% if ep.id == pedidos.estado_pedido_id %}selected{% endif %}>
							{{ep.estados.name}}
						</option>
						{% endfor %}
					</select>
					<br /><br />
					<label class="form-group" for="fechaPedido">Fecha pedido:</label>
					<input
						type="date"
						class="info"
						name="fecha_pedido"
						id="fechaPedido"
						value="{{ pedidos.fecha_pedido }}"
					/><br />
					<label class="form-group" for="fechaRecibido"
						>Fecha documento:</label
					>
					<input
						type="datetime"
						class="info"
						name="fecha_recibido"
						id="fechaRecibido"
						value="{{ pedidos.fecha_documento }}"
						readonly
					/><br />
					<label class="form-group" for="fechaDespacho"
						>Fecha despacho:</label
					>
					<input
						type="date"
						id="fechaDespacho"
						name="fecha_despacho"
						value="{{pedidos.fecha_despacho}}"
					/>
					<br />
					<label for="tipo_pedido">Tipo pedido:</label>
					<select name="tipos" id="tipo_pedido" required>
						{% for tp in enum_tipoPeValue %}
						<option value="{{ tp.id}}"{% if tp.id == pedidos.tipo_pedido_id %}selected{% endif %}>
							{{ tp.tipo_pedido.name }}
						</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div>
				<h2>Tabla de Pedidos</h2>
				<table class="tabla scroll-auto" id="detallesPedido">
					<thead>
						<tr>
							<th>Tipo de Prenda</th>
							<th>Prenda</th>
							<th>Material</th>
							<th>Cantidad</th>
							<th>Medidas</th>
						</tr>
					</thead>
					<tbody>
						{% for detalles in pedidos.detalle_pedido %}
						<tr>
							<td>
								<select
									name="detalles[{{ loop.index0 }}][tipo_prenda]"
									required
								>
									{% for tipo in tipos_prenda %}
									<option
										value="{{ tipo.id }}"
										{% if tipo.id == detalles.tipo_prenda_id %}selected{% endif %}
									>
										{{ tipo.descripcion.name }}
									</option>
									{% endfor %}
								</select>
							</td>
							<td>
								<select
									name="detalles[{{ loop.index0 }}][prenda]"
									required
								>
									{% for tipo in prendas %}
									<option
										value="{{ tipo.id }}"
										{% if tipo.id == detalles.prenda_id %}selected{% endif %}
									>
										{{ tipo.descripcion }}
									</option>
									{% endfor %}
								</select>
							</td>
							<td>
								<input
									type="text"
									name="detalles[{{ loop.index0 }}][material]"
									value="{{detalles.material}}"
									required
								/>
							</td>
							<td>
								<input
									type="number"
									name="detalles[{{ loop.index0 }}][cantidad]"
									value="{{detalles.cantidad}}"
									required
								/>
							</td>
							<td>
								<input type="button" value="Agregar Medidas" />
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<button type="submit">Actualizar Pedido</button>
		</form>

		<!-- <script>
			const currentUrl = window.location.href;
			console.log("URL actual:" + currentUrl);
			$(document).ready(function () {
				$("#num-pedido").keypress(function (e) {
					var code = e.keyCode ? e.keyCode : e.which;
					if (code == 13) {
						var value = $(this).val();
						console.log("Número de pedido:", value);
						if (value) {
							$.ajax({
								url: "/modificarPedidoId/" + value,
								type: "GET",
								dataType: "json",
								success: function (data) {
									if (data) {
										console.log("Detalles del pedido:", data);
										var pedido = data.pedido[0];
										var cliente = data.clientes_id[0];
										$("#num-identificacion").val(
											cliente.num_identificacion
										);
										$("#razon-social").val(cliente.nombre);
										$("#direccion").val(cliente.direccion);
										$("#ciudad").val(cliente.ciudad);
										$("#telefono").val(cliente.telefono);
										$("#correo").val(cliente.correo);
										$("#estado_pedido").val(data.estado_pedido);
										$("#fechaPedido").val(pedido.fecha_pedido);
										$("#fechaRecibido").val(pedido.fecha_documento);
										$("#fechaDespacho").val(pedido.fecha_despacho);
										$("#tipo_pedido").val(data.tipo_pedido);

										var detalles = data.detalles;
										console.log("Detalles del pedido:", detalles);
										var tbody = $("#detallesPedido tbody");
										tbody.empty();
										$.each(detalles, function (index, detalle) {
											tbody.append(`<tr>
												<td><input type="text" name="detalles[${index}][tipo_prenda]" value="${detalle.tipo_prenda_id}" required /></td>
												<td><input type="text" name="detalles[${index}][prenda]" value="${detalle.prenda_id}" required /></td>
												<td><input type="text" name="detalles[${index}][material]" value="${detalle.material}" required /></td>
												<td><input type="number" name="detalles[${index}][cantidad]" value="${detalle.cantidad}" required /></td>
												<td><input type="text" name="detalles[${index}][medidas]" value="${detalle.medidas}" required /></td>
											</tr>`);
										});
									} else {
										alert("No se encontró el pedido");
									}
								},
								error: function (error) {
									console.error("Error en la solicitud: ", error);
								},
							});
						} else {
							// Limpiar campos si no hay número de pedido
							$("#num_identificacion").val("");
							$("#razon-social").val("");
							$("#direccion").val("");
							$("#ciudad").val("");
							$("#telefono").val("");
							$("#correo").val("");
						}
					}
				});
			});
		</script> -->
	</body>
</html>
