{% extends "base.html" %} {% block title %}<title>Modificar Material</title> {%
endblock %} {% block stylesheets %}
<link
	rel="stylesheet"
	href="{{url_for('static', filename='styles/estilos_form.css')}}"
/>
{% endblock %} {% block body %}
<form
	action="{{ url_for('actualizarMaterial', id=m.id) }}"
	method="post"
>
	<div class="contenedor-info">
		<div class="titulo">
			<header>
				<h1>Modificar Material</h1>
			</header>
		</div>
		<!-- cambiar name y en css -->
		<div class="id-pedido">
			<!-- aqui va el nombre del usuario que esta creando el material -->
			<p>Nombre usuario</p>
		</div>
	</div>
	<div class="contenido">
		<div class="Formulario">
			<input
				class="materiales"
				type="text"
				name="codigo_material"
				id="codigo-material"
				value="{{ m.codigo }}"
				required
			/>
			<input
				class="materiales"
				type="text"
				name="num_lote"
				id="lot-number"
				value="{{ m.num_lote }}"
				required
			/>
			<br />
			<input
				class="materiales"
				type="text"
				name="producto"
				id="product"
				value="{{ m.producto }}"
				required
			/><br />
			<input
				class="materiales"
				type="text"
				name="proveedor"
				id="supplier"
				value="{{ m.proveedor }}"
				required
			/><br />

			<input
				class="materiales"
				type="number"
				name="cantidad"
				id="amount"
				value="{{ m.cantidad }}"
				required
			/>
			<label for="estado-material">Unidad</label>
			<select class="materiales" 
				name="unidad"
				id="unit"
			>
				{% for u_m in um %}
				<option
					value="{{u_m.value}}"
					{%
					if
					u_m.value == "m.unidad_medida.value"
					%}selected{% endif %}
				>
					{{u_m.name}}
				</option>
				{% endfor %}
			</select>
			<input
				class="materiales"
				type="text"
				name="color"
				id="color"
				value="{{ m.color }}"
				required
			/>
			<label for="estado-material">Estado material</label>
			<select class="materiales" name="estado_material" id="estado-material">
				{% for estado in estados_materiales %}
				<option
					value="{{estado.id}}"
					{%
					if
					estado.id == "m.estado_material_id"
					%}selected{% endif %}
				>
					{{estado.estado_material.name}}
				</option>
				{% endfor %}
			</select>
			<br />

			<textarea
				name="description"
				id="description"
				cols="30"
				rows="10"
				placeholder="Descripción"
				value="{{ m.descripcion }}"
			></textarea>
		</div>
	</div>
	<button type="submit">Modificar</button>
</form>
{% endblock %}
