{% extends "base.html" %} {% block title %}<title>Prendas</title>
{% endblock %} {% block body %}
<h1>Prendas</h1>
<form action="prendas" method="post">
	<label for="nombre">Nombre de la Prenda:</label>
	<input type="text" id="nombre-prenda" name="nombre-prenda" required />
	<label for="tipo_prenda_id">Tipo de Prenda:</label>
	<select id="tipo_prenda_id" name="tipo_prenda_id" required>
		{% for tipo in enum_values %}
		<option value="{{ tipo.value }}">{{ tipo.name }}</option>
		{% endfor %}
	</select>
	<button type="submit">Agregar Prenda</button>
</form>
<h2>Lista de Prendas</h2>
<table>
	<thead>
		<tr>
			<th>N°</th>
			<th>Prenda</th>
			<th>Tipo</th>
		</tr>
	</thead>
	<tbody>
		{% for p in prendas %}
		<tr>
			<td>{{ p.id }}</td>
			<td>{{ p.descripcion }}</td>
			<td>{{ p.tipo_prenda.descripcion.name }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a href="{{ url_for('tipo_prendas') }}">Ver Tipos de Prendas</a>
{% endblock %}
