<!DOCTYPE html>
<html lang="español">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/styles/styles.css" />
		<title>{% block title_content %} {{title}} {% endblock %}</title>
	</head>
	<body>
		<header class="navbar navbar-light bg-light">
			<nav id="barranavegacion">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ url_for('index') }}">
						<img
							src="{{ url_for('static', filename='Images/Proceso_Textil.png') }}"
							alt="Logo de la empresa"
							width="10%"
							class="d-inline-block align-text-top"
						/>
						Proceso Textil
					</a>
					<!--<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>-->
				</div>
				<form class="collapse navbar-collapse" id="navbarSupportedContent">
					<input
						class="form-control mr-sm-2"
						type="search"
						placeholder="Search"
						aria-label="Search"
					/>
					<button
						class="btn btn-outline-success my-2 my-sm-0"
						type="submit"
					>
						Search
					</button>
				</form>
			</nav>
		</header>
		{% block page_content %} {% endblock %}
		<footer>
			<p>Esta página esta realizada por Jeidy&copy;</p>
		</footer>
	</body>
</html>
