<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/styles/estilos_form.css" />
	</head>
	<body>
		<header>
			<h1 aling="center">Consultar Pedido</h1>
		</header>
		<div class="contenido">
			<div class="Formulario">
				<form action="">
					<label for="tipo-id">Tipo identificacion:</label>
					<select id="inputTurmaTurno" class="form-select">
						<option value="CC">CC</option>
						<option value="CE">CE</option>
						<option value="NIT">NIT</option>
						<option value="RUT">RUT</option>
					</select>
					<label for="numero-id">Número identificación:</label>
					<input type="text" id="numero-id" />
					<label for="nombre-empresa">Nombre o Razón Social:</label>
					<input type="text" id="nombre-empresa" /><br />

					<label class="form-group">Número Pedido</label>
					<input
						type="text"
						class="info"
						id="formGroupExampleInput"
						placeholder="Example input"
					/>
					<label for="lang">Estado Pedido </label>
					<select name="lenguajes" id="lang">
						<option value="">ingresado</option>
						<option value="">procesado</option>
						<option value="">corte</option>
						<option value="">confeccion</option>
						<option value="">despacho</option>
						<option value="">enviado</option>
						<option value="">devolucion</option>
					</select>
					<label class="form-group">Fecha Pedido</label>
					<input
						type="date"
						class="info"
						id="formGroupExampleInput"
						placeholder="Example input"
					/>
					<label class="form-group">Fecha despacho</label>
					<input
						type="date"
						class="info"
						id="formGroupExampleInput"
						placeholder="Example input"
					/>
					<input
						type="submit"
						value="Consultar"
						class="Formulario"
						id="tablaPedidos"
					/>
				</form>
			</div>
		</div>
	</body>
</html>
