<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="Formulario crear pedido" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles/estilos_form.css') }}"
		/>
	</head>
	<body>
		<form action="crearPedido" method="post">
			<div>
				<header>
					<h1>Crear Pedido</h1>
				</header>
				<label class="form-group" for="num-pedido">No. Pedido</label>
				<input type="text" class="info" id="num-pedido" name="num-pedido" />
			</div>
			<div class="contenido">
				<div class="Formulario">
					<label for="lang">Tipo Identificación</label>
					<select name="tipo_identificacion" id="tipo_identificacion">
						<option value="javascript">CC</option>
						<option value="php">TI</option>
						<option value="java">NIT</option>
						<option value="java">CE</option>
						<option value="java">PAS</option>
					</select>
					<label class="form-group">Número Identificación</label>
					<input
						type="text"
						class="info"
						name="num_identificacion"
						id="num_identificacion"
						placeholder="Another input"
					/>
					<br />
					<label class="form-group">Nombre o Razón Social</label>
					<input
						type="text"
						class="info nombres"
						name="nombre"
						id="razon-social"
						placeholder="Example input"
					/>
					<br />
					<label class="form-group">Dirección</label>
					<input
						type="text"
						class="info"
						name="direccion"
						id="direccion"
						placeholder="Another input"
					/>
					<label class="form-group">Ciudad</label>
					<input
						type="text"
						class="info"
						name="ciudad"
						id="ciudad"
						placeholder="Another input"
					/>
					<br />
					<label class="form-group">Telefono</label>
					<input
						type="text"
						class="info"
						name="telefono"
						id="telefono"
						placeholder="Example input"
					/>
					<br />
					<label class="form-group">Correo Electronico</label>
					<input
						type="email"
						class="info"
						name="correo"
						id="correo"
						placeholder="Another input"
					/>
					<br />
				</div>
				<div class="fechas">
					<label class="form-group" for="estados">Estado Pedido</label>
					<select name="estado-pedido" id="estado-pedido">
						<option selected hidden value="">Seleccionar</option>
						<option value="patronaje">Abierto</option>
						<option value="diseño">Devuelto</option>
						<option value="cerrado">Entregado</option>
						<option value="cerrado">Cancelado</option>
					</select>
					<br /><br />
					<label class="form-group" for="fechaPedido">Fecha pedido:</label>
					<input
						type="date"
						class="info"
						name="fecha-pedido"
						id="fechaPedido"
						name="fechaPedido"
					/><br /><br />
					<label class="form-group" for="fechaRecibido"
						>Fecha documento:</label
					>
					<input
						type="date"
						class="info"
						name="fecha-recibido"
						id="fechaRecibido"
						name="fechaRecibido"
					/><br /><br />
					<label class="form-group" for="fechaDespacho"
						>Fecha despacho:</label
					>
					<input type="date" id="fechaDespacho" name="fecha-despacho" />
					<br /><br />
					<label class="form-group" for="tipos">Tipo Pedido</label>
					<select name="tipo-pedido" id="tipo-pedido">
						<option selected hidden value="">Seleccionar</option>
						<option value="patronaje">Patronaje</option>
						<option value="diseño">Diseño</option>
						<option value="corte">Corte</option>
						<option value="confeccion">Confección</option>
						<option value="total">Producción</option>
					</select>
				</div>
			</div>
			<div>
				<h2>Tabla de Pedidos</h2>
				<table class="tabla scroll-auto">
					<tr>
						<thead class="titulos">
							<th>#</th>
							<th>Tipo prenda</th>
							<th>Prenda</th>
							<th>Material</th>
							<th>Cantidad</th>
							<th>Medidas</th>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>
									<input type="text" value="" name="tipo_prenda_id" />
								</td>
								<td><input type="text" value="" name="prenda_id" /></td>
								<td><input type="text" value="" name="material" /></td>
								<td>
									<input type="number" value="0" name="cantidad" />
								</td>
								<td>
									<input
										type="button"
										href="#"
										value="Agregar Medidas"
										name="medidas"
									/>
								</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>
									<input type="text" value="" name="tipo_prenda_id" />
								</td>
								<td><input type="text" value="" name="prenda_id" /></td>
								<td><input type="text" value="" name="material" /></td>
								<td>
									<input type="number" value="0" name="cantidad" />
								</td>
								<td>
									<input
										type="button"
										href="#"
										value="Agregar Medidas"
										name="medidas"
									/>
								</td>
							</tr>
						</tbody>
					</tr>
				</table>
				<div class="form-group">
					<label>Observaciones</label>
					<textarea
						class="info"
						id="formGroupExampleInput"
						placeholder="Example input"
					></textarea>
				</div>
			</div>
			<input type="submit" value="Enviar" class="Formulario" />
			<!-- <input type="submit" value="Cancelar" class="Formulario" /> -->
		</form>
	</body>
</html>
