<!DOCTYPE html>

{% extends "barraNavegacion.html"%} {% block page_content %}
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/static/styles/styles.css" />
	</head>
	<body>
		<aside class="container" id="panel_navegation">
			<h3 class="titulo">Panel de Navegación</h3>
			<ul id="continer-nav">
				<li class="opciones">
					Pedido
					<ul
						class="dropdown-menu dropdown-menu-dark"
						aria-labelledby="dropdownMenuButton1"
					>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('crearPedido') }}"
								target="principal"
							>
								Crear
							</a>
						</li>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('modificarPedido') }}"
								target="principal"
							>
								Modificar
							</a>
						</li>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('consultarPedido') }}"
								target="principal"
							>
								Consultar
							</a>
						</li>
					</ul>
				</li>
				<li class="opciones">
					Material
					<ul
						class="dropdown-menu dropdown-menu-dark"
						aria-labelledby="dropdownMenuButton1"
					>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('ingresoMaterial') }}"
								target="principal"
							>
								Crear
							</a>
						</li>

						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('modificarRefMeaterial') }}"
								target="principal"
							>
								Modificar
							</a>
						</li>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('consultarMaterial') }}"
								target="principal"
							>
								Consultar
							</a>
						</li>
					</ul>
				</li>
				<li class="opciones">
					Despachos
					<ul
						class="dropdown-menu dropdown-menu-dark"
						aria-labelledby="dropdownMenuButton1"
					>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('ingresoMaterial') }}"
								target="principal"
							>
								Crear
							</a>
						</li>

						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('modificarRefMeaterial') }}"
								target="principal"
							>
								Modificar
							</a>
						</li>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('consultarMaterial') }}"
								target="principal"
							>
								Consultar
							</a>
						</li>
					</ul>
				</li>
				<li class="opciones">
					Clientes
					<ul
						class="dropdown-menu dropdown-menu-dark"
						aria-labelledby="dropdownMenuButton1"
					>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('ingresoMaterial') }}"
								target="principal"
							>
								Crear
							</a>
						</li>

						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('modificarRefMeaterial') }}"
								target="principal"
							>
								Modificar
							</a>
						</li>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('consultarMaterial') }}"
								target="principal"
							>
								Consultar
							</a>
						</li>
					</ul>
				</li>

				<li class="opciones">
					Usuarios
					<!-- aqui tiene que apareces una nombre del usuario -->
					<ul
						class="dropdown-menu dropdown-menu-dark"
						aria-labelledby="dropdownMenuButton1"
					>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('ingresoMaterial') }}"
								target="principal"
							>
								Crear
							</a>
						</li>

						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('modificarRefMeaterial') }}"
								target="principal"
							>
								Modificar
							</a>
						</li>
						<li class="operaciones">
							<a
								class="dropdown-item"
								href="{{ url_for('consultarMaterial') }}"
								target="principal"
							>
								Consultar
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</aside>
		<section>
			<div class="form-space">
				<td>
					<!-- scrolling sirve para poner la barra para ver todo el contenido de la pagina -->
					<iframe
						name="principal"
						src="{{ url_for('crearPedido') }}"
						scrolling="auto"
						title="Formulario"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen
					></iframe>
				</td>
			</div>
		</section>
	</body>
</html>
{% endblock %}
