<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/static/styles/estilos_form.css" />
	</head>
	<body>
		<header>
			<h1 aling="center">Modificar Pedido</h1>
		</header>

		<form>
			<table class="Formulario">
				<tr>
					<td>
						<div class="form-group">
							<label class="form-group">Número Pedido</label>
							<input
								type="text"
								class="Formulario"
								id="formGroupExampleInput2"
								placeholder="Another input"
							/>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="form-group">
							<form action="#">
								<label for="lang">Tipo Identificación</label><br />
								<select name="lenguajes" id="lang">
									<option value="cedula">CC</option>
									<option value="tarjetaIdentidad">TI</option>
									<option value="NIT">NIT</option>
									<option value="cedulaExtranjera">CE</option>
									<option value="pasaporte">PAS</option>
								</select>
							</form>
						</div>
					</td>
					<td>
						<div class="form-group">
							<label class="form-group">Número Identificación</label>
							<input
								type="text"
								class="Formulario"
								id="formGroupExampleInput2"
								placeholder="Another input"
							/>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<div class="form-group">
							<label class="form-group">Nombre o Razón Social</label>
							<input
								type="text"
								class="Formulario"
								id="formGroupExampleInput"
								placeholder="Example input"
							/>
						</div>
					</td>
					<td>
						<div class="form-group">
							<label class="form-group">Dirección</label>
							<input
								type="text"
								class="Formulario"
								id="formGroupExampleInput2"
								placeholder="Another input"
							/>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="form-group">
							<label class="form-group">Telefono</label>
							<input
								type="text"
								class="Formulario"
								id="formGroupExampleInput"
								placeholder="Example input"
							/>
						</div>
					</td>
					<td>
						<div class="form-group">
							<label class="form-group">Correo Electronico</label>
							<input
								type="text"
								class="Formulario"
								id="formGroupExampleInput2"
								placeholder="Another input"
							/>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="form-group">
							<form action="#">
								<label for="lang">Tipo pedido</label><br />
								<select name="lenguajes" id="lang">
									<option value="php">1 DP Diseño,patronaje</option>
									<option value="java">2 PC patronaje,corte</option>
									<option value="java">
										3 FULL diseño,patronje,corte,confeccion
									</option>
									<option value="java">4 C corte</option>
								</select>
							</form>
						</div>
					</td>
					<td>
						<div class="form-group">
							<form action="#">
								<label for="lang">Tipo prenda</label><br />
								<select name="lenguajes" id="lang">
									<option value="php">prenda superior</option>
									<option value="java">prenda inferior</option>
									<option value="java">falda</option>
									<option value="java">vestido</option>
									<option value="java">overoles</option>
								</select>
							</form>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="form-group">
							<form action="#">
								<label for="lang">Estado Pedido </label><br />
								<select name="lenguajes" id="lang">
									<option value="php">ingresado</option>
									<option value="java">procesado</option>
									<option value="java">corte</option>
									<option value="java">confeccion</option>
									<option value="java">despacho</option>
									<option value="java">enviado</option>
									<option value="java">devolucion</option>
								</select>
								<td>
									<div class="form-group">
										<label class="form-group">Referencia</label>
										<input
											type="text"
											class="Formulario"
											id="formGroupExampleInput"
											placeholder="Example input"
										/>
									</div>
								</td>
							</form>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="form-group">
							<label class="form-group">Fecha Pedido</label>
							<input
								type="date"
								class="Formulario"
								id="formGroupExampleInput2"
								placeholder="Another input"
							/>
						</div>
					</td>
					<td>
						<div class="form-group">
							<label class="form-group">Fecha entrega</label>
							<input
								type="date"
								class="Formulario"
								id="formGroupExampleInput"
								placeholder="Example input"
							/>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="form-group">
							<label class="form-group">Cantidad de metros</label>
							<input
								type="text"
								class="Formulario"
								id="formGroupExampleInput"
								placeholder="Example input"
							/>
						</div>
					</td>
					<td>
						<div class="form-group">
							<label class="form-group">Cantidad de prendas</label>
							<input
								type="text"
								class="Formulario"
								id="formGroupExampleInput2"
								placeholder="Another input"
							/>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="form-group">
							<label class="form-group">Observaciones</label>
							<input
								type="text"
								class="Formulario"
								id="formGroupExampleInput"
								placeholder="Example input"
							/>
						</div>
					</td>
				</tr>
			</table>
			<input type="submit" value="Enviar" class="Formulario" />
		</form>
	</body>
</html>
