:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
}
*,
::after,
::before {
	box-sizing: border-box;
}

#barranavegacion {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #b5838d;
	display: flex;
	justify-content: space-between;
}

body {
	background-color: #edf6f9;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
	list-style: none;
	padding: 0.5%;
	margin: 0;
}
a {
	text-decoration: none;
	color: #000;
}

.menu_hamburguesa {
	display: none;
	align-items: end;
}

#navbarSupportedContent {
	display: inline;
	align-content: center;
}

footer {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #b5838d;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	align-items: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#panel_navegation {
	margin-top: 10px;
	margin-right: 10px;
	background-color: #b5838d;
	float: left;
	border-radius: 30px 30px 30px 30px;
}

.dropdown-menu li a :hover > ul {
	background-color: #daecf6;
	color: black;
	text-decoration: none;
	transition: all 0.3s;
	display: block;
}

iframe {
	border-radius: 30px 30px 30px 30px;
	margin-top: 10px;
	padding-left: 10px;
	width: 1290px;
	height: 1020px;
}

.form-space {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.form-space iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form-group {
	display: inline;
}
/*cuando es más pequeña la pagina poner estilos así
@media screen and (max-width: 550px) {
	.btn {
		display: block;
	}

	.btn:target .dropdown-menu a {
		display: block;
	}

	.dropdown-menu {
		display: none;
		position: absolute;
		padding: 2rem;
		box-shadow: 0 0 0 10vmax rgba(0, 0, 0, 0.5);
	}
}*/

.navegacion {
	margin: 0 auto;
	max-width: 90%;
	display: flex;
	flex-direction: column;
}
/* ayuda a poner las opciones en lista*/
.navegacion a {
	padding: 0.8%;
	display: block;
}

.btn {
	flex: 1;
	position: relative;
}

.btn .dropdown-menu {
	position: absolute;
	width: 95%;
}

.btn:target .dropdown-menu {
	max-height: auto;
	display: block;
}

.dropdown-menu a {
	display: none;
}

.btn:target .dropdown-menu a {
	max-height: auto;
	display: block;
}

.dropdown-menu {
	background-color: #fff;
	max-height: 0;
	display: ;
	list-style: ;
}
